body {
    background: var(--body-background);
    color: var(--text-color);
    margin: 0;
}

:root{
    --text-color: rgb(88, 88, 88);
    --body-background: rgb(24, 25, 26);
    --secondary-body-background: rgb(37,37,38);
    --border-color: rgb(28, 28, 28);
    --hover-color: rgb(250, 0, 0);
}
