@media only screen and (max-width: 880px){

    .grid {
        display: grid;
        grid-template-columns: min-content min-content min-content;
    
        grid-template-rows: min-content, min-content;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    
    .pokemon-drawings--container, .unique-drawings--container {
        position: relative;
        left: -0px;
    }  

    .unique-drawings--container {  
        grid-area: 2 / 2 / 3 / 3;
        top: -11px;
    }
}

@media only screen and (max-width: 730px){
    
    .unique-drawings--container {  
        top: -20.5px;
    }

    .pokemon-drawings--container, .unique-drawings--container {
        position: relative;
        left: -3px;
    }
    
}

@media only screen and (max-width: 490px) and (min-width: 360px) {
    .unique-drawings--container{
        top: -15.5px;
    }
}

@media only screen and (max-width: 360px) {
    .unique-drawings--container{
        top: -10.5px;
    }
}