.linear-gradient--background-image2 {
    height: 35.1vh;
    width: 100%;
    
    position: fixed;
    z-index: 10;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, 
    rgba(5,5,6,0.5411414565826331) 0%, rgba(24,25,26,1) 90%);
}

.background-image1 {
    height: 35vh;
    width: 100%;
    object-fit: cover;
    
    position: fixed;
    z-index: 0;
    }

.profile-picture {
    position: absolute;
    left: -60px;
    top:-40px;
    
    width:140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 15;
    border: 3px solid var(--border-color);
    }

    .container {
        width: 80vw;
        height:max-content;
        background: var(--secondary-body-background);
        border: 3px solid var(--border-color);
        padding: 1rem;
        
        position: relative;
        left: 50%; 
        transform: translateX(-50%);
        top: 10vh;
        z-index: 15;
        min-width: 264px;
        max-width: 1190px;
    }
    
    
.card--colorful-drawings {
display: grid;
grid-template-areas: 
"sunrise woods town sunflowers"
"sunrise woods khazix sunflowers"
"ocean desert . sunflowers"
". desert windmill sunflowers";
grid-template-columns: repeat(auto-fill, 300px) ;
grid-template-rows: repeat(auto-fill, 200px);
gap: 5px 0px;
}

.img-sunrise {
    grid-area: sunrise;
}
.img-woods {
    grid-area: woods;
}
.img-town {
    grid-area: town;
}
.img-khazix {
    grid-area: khazix;
}
.img-sunflowers {
    grid-area: sunflowers;
}
.img-ocean {
    grid-area: ocean;
}
.img-desert {
    grid-area: desert;
}
.img-windmill{
    grid-area: windmill;
}

.img-khazix, .img-ocean, .img-desert, .img-windmill {
    position: relative;
}

.img-windmill {
    top: -186px
}
.img-khazix {
    top: 58px;
}

.img-desert{
    top: -13px;
}

.profile-picture, .img-sunrise, .img4, .img5, .img-woods, 
.img-sunflowers, .img-town, .img-khazix, .img-desert, .img-ocean, .img-windmill {
    border: 3px solid var(--border-color);
    }

.hiddingImages {
    display: none;
    }

.showImages{
    display: block;
    scale: 1;
    transition: 1s;
    }

.img-sunrise, .img-woods, .img-sunflowers, .img-town, .img-khazix, .img-desert, .img-ocean, .img-windmill {
    width: 290px;
    height: max-content;
    }




/* .drawing-sections{
} */

.open-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 30px;
    background-color: black;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scrollbar-background-color, initial); 
    -webkit-box-shadow: inset 0 0 6px var(--scrollbar-box-shadow-color, initial); 
}

::-webkit-scrollbar-track-piece:end {
    margin: 10px; 
}

::-webkit-scrollbar-track-piece:start {
    margin-top: 10px;
} 
    