    @media screen and (max-width: 1495px) {
        .card--colorful-drawings {
            display: grid;
            grid-template-areas: 
            "sunrise woods town "
            "sunrise woods sunflowers"
            "ocean desert sunflowers"
            ". desert sunflowers"
            "windmill khazix .";
            grid-template-columns: repeat(auto-fill, 300px) ;
            grid-template-rows: repeat(auto-fill, 200px);
            gap: 5px 0px;
        }        
        .img-khazix, .img-ocean, .img-desert, .img-sunflowers {
            position: relative;
        }
        
        .img-khazix {
            top: -70px;
        }
        .img-windmill {
            top: -41px;
        }
        .img-sunflowers {
            top: 57px;
        }
        .img-ocean {
            top: -4px;
        }
        .img-desert{
            top: -16px;
        }
        
    }
    @media only screen and (max-width: 1113px) and (min-width: 730px) {
        .card--colorful-drawings {
            display: grid;
            grid-template-areas: 
            "sunrise desert"
            "sunrise woods"
            "sunflowers woods "
            "sunflowers khazix"
            "ocean khazix"
            "town windmill";
            grid-template-columns: repeat(auto-fill, 300px) ;
            grid-template-rows: repeat(auto-fill, 200px);
            gap: 5px 0px;
        }        

        .drawing-sections::before {
            width: 290px;
            height: 422.639px;
          }
          
        .img-khazix, .img-ocean, .img-desert, .img-sunflowers, .img-woods, .img-town {
            position: relative;
        }
        
        .img-desert{
            top: 0px;
        }   
        .img-woods {
            top: 16px;
        }
        .img-khazix {
            top: -28px;
        }
        .img-sunflowers {
            top: 14px;
        }
        .img-windmill {
            top: -300px;
        }
        .img-ocean {
            top: 12px;
        }     
        .img-town {
            top: 10px;
        }     
        
    }
    
    @media only screen and (max-width: 730px) and (min-width: 490px) {
        .card--colorful-drawings {
            display: grid;
            grid-template-areas: 
            "sunrise desert"
            "sunrise woods"
            "sunflowers woods "
            "sunflowers khazix"
            "ocean khazix"
            "town windmill"
            "town .";
            grid-template-columns: repeat(auto-fill, 194px) ;
            grid-template-rows: repeat(auto-fill, 200px,);
            gap: 4px 0px;
            
            position: relative;
            top: 0;
        } 
               
        .drawing-sections::before {
            width: 191px;
            height: 278.350px;
        }

        .img-khazix, .img-ocean, .img-desert, .img-sunflowers, .img-woods, .img-town {
            position: relative;
        }
        .img-desert{
            width: 190px;
            top: 0px;
        }   
        .img-sunrise {
            width: 191px;
        }
        .img-woods {
            top: -61px;
            width: 190px;
        }
        .img-sunflowers {
            top: -62px;
            width: 190px;
        }
        .img-khazix {
            top: -95px;
            width: 190px;
        }
        .img-windmill {
            top: -279px;
            width: 190px;
        }
        .img-ocean {
            top: -68px;
            width: 190px;
        }     
        .img-town {
            top: -74px;
            width: 190px;
        }
        .profile-picture {
            left: -30px;
            top: -30px;
        
            width: 100px;
            height: 100px;
            }

            .cyndaquil, .img-pokemon, .img-section3 {
                width:  123px;
                height: 123px;
            }
    
            .container--pokemon-img:before, .container--unique-img:before {
                width:  120px;
                height: 120px;
                left: -1px;
              }
    }

    @media only screen and (max-width: 490px) and (min-width: 360px) {        
        .card--colorful-drawings {
            display: grid;
            grid-template-areas: 
            "sunrise desert"
            "sunrise woods"
            "sunflowers woods "
            "sunflowers khazix"
            "ocean khazix"
            "town windmill";
            grid-template-columns: repeat(auto-fill, 133px) ;
            grid-template-rows: repeat(auto-fill, 200px);
            gap: 0;
            
            position: relative;
            top: 0;
        }  
        .drawing-sections::before {
            width: 130px;
            height: 189.450px;
          }

        .img-sunrise, .img-desert, .img-woods, .img-sunflowers, .img-khazix, .img-ocean, .img-windmill, .img-town {
            position: relative;
            width: 130px;
        }
        .img-desert{
            height: 95.362px;
            top: 0px;
        }   
        .img-sunrise {
            height: 189.450px;
            top: 0px;
        }
        .img-woods {
            height: 184px;
            top: -102px;
        }
        .img-sunflowers {
            height: 222.062px;
            top: -104px;
        }
        .img-khazix {
            height: 96.188px;
            top: -124px;
        }
        .img-windmill {
            height: 134.600px;
            top: -248px;
        }
        .img-ocean {
            height: 103.637px;
            top: -108px;
        }     
        .img-town {
            height: 114.200px;
            top: -112px;
        }
        .profile-picture { 
            left: -30px;
            width: 90px;
            height: 90px;
        }

        .cyndaquil, .img-pokemon, .img-section3 {
            width:  83px;
            height: 83px;
        }

        .container--pokemon-img:before, .container--unique-img:before {
            width:  80px;
            height: 80px;
            left: -1px;
          }
    }
    
    @media only screen and (max-width: 360px) {
        .card--colorful-drawings {
            display: grid;
            grid-template-areas: 
            "sunrise desert"
            "sunrise woods"
            "sunflowers woods "
            "sunflowers khazix"
            "ocean khazix"
            "town windmill";
            grid-template-columns: repeat(auto-fill, 123px) ;
            grid-template-rows: repeat(auto-fill, 200px);
            gap: 0;
            
            position: relative;
            top: 0;
            justify-content: center;
        }

        .drawing-sections::before {
          width: 120px;
          height: 174.867px;
        }
        .img-sunrise, .img-desert, .img-woods, .img-sunflowers, .img-khazix, .img-ocean, .img-windmill, .img-town {
            position: relative;
            width: 120px;
        }
        .img-desert{
            height: 88.033px;
            top: 0px;
        }   
        .img-sunrise {
            height: 174.883px;
            top: 0px;
        }
        .img-woods {
            height: 169.840px;
            top: -110px;
        }
        .img-sunflowers {
            height: 204.980px;
            top: -110px;
        }
        .img-khazix {
            height: 88.790px;
            top: -132px;
        }
        .img-windmill {
            height: 124.250px;
            top: -248px;
        }
        .img-ocean {
            height: 95.660px;
            top: -114px;
        }     
        .img-town {
            height: 105.410px;
            top: -120px;
        }
        .profile-picture {
            left: -25px;
            top: -25;
            width: 70px;
            height: 70px;
        }

        .cyndaquil, .img-pokemon, .img-section3 {
            width:  77px;
            height: 77px;
        }

        .container--pokemon-img:before, .container--unique-img:before {
            width:  77px;
            height: 77px;
          }

    }