    @media screen and (max-width: 1495px) {
        .card--colorful-drawings {
            display: grid;
            grid-template-areas: 
            "sunrise woods town "
            "sunrise woods sunflowers"
            "ocean desert sunflowers"
            ". desert sunflowers"
            "windmill khazix .";
            grid-template-columns: repeat(auto-fill, 300px) ;
            grid-template-rows: repeat(auto-fill, 200px);
            gap: 5px 0px;
        }        
        .img-khazix, .img-ocean, .img-desert, .img-sunflowers {
            position: relative;
        }
        
        .img-khazix {
            top: -70px;
        }
        .img-windmill {
            top: -41px;
        }
        .img-sunflowers {
            top: 58px;
        }
        .img-ocean {
            top: -13px;
        }
        .img-desert{
            top: -24px;
        }
        
    }
    @media only screen and (max-width: 1113px) and (min-width: 730px) {
        .card--colorful-drawings {
            display: grid;
            grid-template-areas: 
            "sunrise desert"
            "sunrise woods"
            "sunflowers woods "
            "sunflowers khazix"
            "ocean khazix"
            "town windmill";
            grid-template-columns: repeat(auto-fill, 300px) ;
            grid-template-rows: repeat(auto-fill, 200px);
            gap: 5px 0px;
        }        
        .img-khazix, .img-ocean, .img-desert, .img-sunflowers, .img-woods {
            position: relative;
        }
        
        .img-desert{
            top: 0px;
        }   
        .img-woods {
            top: 18px;
        }
        .img-khazix {
            top: -42px;
        }
        .img-sunflowers {
            top: 0px;
        }
        .img-windmill {
            top: -312px;
        }
        .img-ocean {
            top: 0px;
        }     
        
    }
    
    @media only screen and (max-width: 730px) and (min-width: 490px) {
        .card--colorful-drawings {
            display: grid;
            grid-template-areas: 
            "sunrise desert"
            "sunrise woods"
            "sunflowers woods "
            "sunflowers khazix"
            "ocean khazix"
            "town windmill"
            "town .";
            grid-template-columns: repeat(auto-fill, 194px) ;
            grid-template-rows: repeat(auto-fill, 200px,);
            gap: 4px 0px;
            
            position: relative;
            top: 0;
        }        
        .img-khazix, .img-ocean, .img-desert, .img-sunflowers, .img-woods, .img-town {
            position: relative;
        }
        .img-desert{
            width: 190px;
            top: 0px;
        }   
        .img-sunrise {
            width: 191px;
        }
        .img-woods {
            top: -61px;
            width: 190px;
        }
        .img-sunflowers {
            top: -62px;
            width: 190px;
        }
        .img-khazix {
            top: -95px;
            width: 190px;
        }
        .img-windmill {
            top: -279px;
            width: 190px;
        }
        .img-ocean {
            top: -68px;
            width: 190px;
        }     
        .img-town {
            top: -76px;
            width: 190px;
        }
        .profile-picture {
            left: -30px;
            top: -30px;
        
            width: 100px;
            height: 100px;
            }
    }

    @media only screen and (max-width: 490px) and (min-width: 360px) {
        .card--colorful-drawings {
            display: grid;
            grid-template-areas: 
            "sunrise desert"
            "sunrise woods"
            "sunflowers woods "
            "sunflowers khazix"
            "ocean khazix"
            "town windmill";
            grid-template-columns: repeat(auto-fill, 133px) ;
            grid-template-rows: repeat(auto-fill, 200px);
            gap: 0;
            
            position: relative;
            top: 0;
            justify-content: center;
        }        
        .img-sunrise, .img-desert, .img-woods, .img-sunflowers, .img-khazix, .img-ocean, .img-windmill, .img-town {
            position: relative;
            width: 130px;
        }
        .img-desert{
            top: 0px;
        }   
        .img-sunrise {
            top: 0px;
        }
        .img-woods {
            top: -102px;
        }
        .img-sunflowers {
            top: -104px;
        }
        .img-khazix {
            top: -124px;
        }
        .img-windmill {
            top: -248px;
        }
        .img-ocean {
            top: -108px;
        }     
        .img-town {
            top: -112px;
        }
        .profile-picture { 
            width: 90px;
            height: 90px;
        }    
    }

    @media only screen and (max-width: 360px) {
        .card--colorful-drawings {
            display: grid;
            grid-template-areas: 
            "sunrise desert"
            "sunrise woods"
            "sunflowers woods "
            "sunflowers khazix"
            "ocean khazix"
            "town windmill";
            grid-template-columns: repeat(auto-fill, 123px) ;
            grid-template-rows: repeat(auto-fill, 200px);
            gap: 0;
            
            position: relative;
            top: 0;
            justify-content: center;
        }        
        .img-sunrise, .img-desert, .img-woods, .img-sunflowers, .img-khazix, .img-ocean, .img-windmill, .img-town {
            position: relative;
            width: 120px;
        }
        .img-desert{
            top: 0px;
        }   
        .img-sunrise {
            top: 0px;
        }
        .img-woods {
            top: -110px;
        }
        .img-sunflowers {
            top: -110px;
        }
        .img-khazix {
            top: -132px;
        }
        .img-windmill {
            top: -248px;
        }
        .img-ocean {
            top: -114px;
        }     
        .img-town {
            top: -120px;
        }
        .profile-picture {
            width: 70px;
            height: 70px;
        }
    }