@media screen and (max-width: 600px) {
    .img2 {
        position: absolute;
        left: -40px;
        top: -40px;
    
        width:120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid rgb(28, 28, 28);
    }    
}